body {
  font-family: sans-serif;
}
.reviews {
  text-align: center;
}
.reviews_wrapper {
  outline: 1px solid blue;
  width: 100%;
  display: block;
}
@media screen and (min-device-width: 768px) {
  .reviews_wrapper {
    display: flex;
    outline: none;
  }
}

.review_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0.5rem;
  padding: 0 1rem;
}

.review_image {
  width: 200px;
  border-radius: 50%;
}

.review_content {
  background-color: aquamarine;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}